.header.alt {
    transition: opacity 2.5s ease;
    transition-delay: .75s;
    -webkit-animation: none;
    animation: none;
    background-color: transparent;
    box-shadow: none;
    position: absolute;
}

.header {
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    background-color: #2a2f4a;
    box-shadow: 0 0 0.25em 0 rgb(0 0 0 / 15%);
    cursor: default;
    font-weight: 600;
    height: 60px;
    left: 0;
    letter-spacing: .25em;
    line-height: 3.25em;
    margin: 0;
    position: fixed;
    text-transform: uppercase;
    top: 0;
    width: 100%;
    z-index: 10000;
}

.logo{
    margin-left: 20px;
    color: white;
    font-size: smaller;
    font-weight: bold;
    animation-name: fadein;
    animation-duration: 3s;
}

.logo:hover{
    transition: opacity .5s ease;
    color: skyblue;
    opacity: 0.7;
}

strong{
    padding: 3px;
    color: black;
    background-color: white;
}

@keyframes fadein {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.menu-btn {
    cursor : pointer;
    position: fixed;
    right: 10px;
    display: flex;
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center;
    z-index: 90;
}
.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
    content: '';
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background-color: #ffffff;
    position: absolute;
}
.menu-btn span:before {
    bottom: 8px;
}
.menu-btn span:after {
    top: 8px;
}

#menu-btn-check:checked ~ .menu-btn span {
    background-color: rgba(255, 255, 255, 0);/*メニューオープン時は真ん中の線を透明にする*/
}
#menu-btn-check:checked ~ .menu-btn span::before {
    bottom: 0;
    transform: rotate(45deg);
}
#menu-btn-check:checked ~ .menu-btn span::after {
    top: 0;
    transform: rotate(-45deg);
}


#menu-btn-check {
    display: none;
}


.menu-content {
    width: 100%;
    height: 100%;
    padding-left: 30%;
    padding-right: 30%;
    position: fixed;
    top: 0;
    left: 100%;
    z-index: 80;
    background-color: black;
    opacity: 0.8;
    text-align: center;
    transition: all 1s;
    animation-name: fadein;
}
.menu-content ul {
    padding: 70px 10px 0;
}
.menu-content ul li {
    border-bottom: solid 2px #4d4d4d;
    list-style: none;
    line-height: 35px;
    font-size: smaller;
}
.menu-content ul li a {
    display: block;
    width: 100%;
    font-size: 15px;
    box-sizing: border-box;
    color:#ffffff;
    text-decoration: none;
    padding: 9px 15px 10px 0;
    position: relative;
}
.menu-content ul li a::before {
    content: "";
    width: 7px;
    height: 7px;
    border-top: solid 2px #ffffff;
    border-right: solid 2px #ffffff;
    transform: rotate(45deg);
    position: absolute;
    right: 11px;
    top: 16px;
}

#menu-btn-check:checked ~ .menu-content {
    left: 0;/*メニューを画面内へ*/
}