.section1 {
  background-color: rgba(63, 191, 191, 0.8);
}

.section1:hover {
  -webkit-animation: change-color1 0.5s forwards;
          animation: change-color1 0.5s forwards;
}

@-webkit-keyframes change-color1 {
  0% {
    background-color: rgba(63, 191, 191, 0.8);
  }
  100% {
    background-color: rgba(63, 191, 191, 0);
  }
}

@keyframes change-color1 {
  0% {
    background-color: rgba(63, 191, 191, 0.8);
  }
  100% {
    background-color: rgba(63, 191, 191, 0);
  }
}

.section2 {
  background-color: rgba(152, 99, 177, 0.74);
}

.section2:hover {
  -webkit-animation: change-color2 0.5s forwards;
          animation: change-color2 0.5s forwards;
}

@-webkit-keyframes change-color2 {
  0% {
    background-color: rgba(152, 99, 177, 0.74);
  }
  100% {
    background-color: rgba(127, 63, 191, 0);
  }
}

@keyframes change-color2 {
  0% {
    background-color: rgba(152, 99, 177, 0.74);
  }
  100% {
    background-color: rgba(127, 63, 191, 0);
  }
}

.section3 {
  background-color: rgba(255, 100, 102, 0.8);
}

.section3:hover {
  -webkit-animation: change-color3 0.5s forwards;
          animation: change-color3 0.5s forwards;
}

@-webkit-keyframes change-color3 {
  0% {
    background-color: rgba(255, 100, 102, 0.8);
  }
  100% {
    background-color: rgba(242, 38, 41, 0);
  }
}

@keyframes change-color3 {
  0% {
    background-color: rgba(255, 100, 102, 0.8);
  }
  100% {
    background-color: rgba(242, 38, 41, 0);
  }
}

.section4 {
  background-color: rgba(242, 153, 38, 0.8);
}

.section4:hover {
  -webkit-animation: change-color4 0.5s forwards;
          animation: change-color4 0.5s forwards;
}

@-webkit-keyframes change-color4 {
  0% {
    background-color: rgba(242, 153, 38, 0.8);
  }
  100% {
    background-color: rgba(242, 153, 38, 0);
  }
}

@keyframes change-color4 {
  0% {
    background-color: rgba(242, 153, 38, 0.8);
  }
  100% {
    background-color: rgba(242, 153, 38, 0);
  }
}

.section5 {
  background-color: rgba(120, 86, 255, 0.8);
}

.section5:hover {
  -webkit-animation: change-color5 0.5s forwards;
          animation: change-color5 0.5s forwards;
}

@-webkit-keyframes change-color5 {
  0% {
    background-color: rgba(120, 86, 255, 0.8);
  }
  100% {
    background-color: rgba(78, 38, 242, 0);
  }
}

@keyframes change-color5 {
  0% {
    background-color: rgba(120, 86, 255, 0.8);
  }
  100% {
    background-color: rgba(78, 38, 242, 0);
  }
}

.section6 {
  background-color: rgba(61, 219, 116, 0.8);
}

.section6:hover {
  -webkit-animation: change-color6 0.5s forwards;
          animation: change-color6 0.5s forwards;
}

@-webkit-keyframes change-color6 {
  0% {
    background-color: rgba(61, 219, 116, 0.8);
  }
  100% {
    background-color: rgba(61, 219, 116, 0);
  }
}

@keyframes change-color6 {
  0% {
    background-color: rgba(61, 219, 116, 0.8);
  }
  100% {
    background-color: rgba(61, 219, 116, 0);
  }
}

.section {
  padding: 4em 3em 2em;
  height: 30vh;
  max-height: 30em;
  min-height: 20em;
  color: white;
  text-decoration: none;
}
/*# sourceMappingURL=index.css.map */